.hidden {
    visibility: hidden;
}

body {
    background-color: #4a4063;
    color: #fff;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; /* Added padding to ensure elements are not too close to the screen edge */
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    text-align: center; /* Center align the header text */
    font-size: 1.5rem; /* Adjusted font size for mobile screens */
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

canvas {
    max-width: 100%; /* Ensure the canvas does not overflow the screen width */
}

#wordContainer {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow letters to wrap to the next line */
    justify-content: center; /* Center align the letters */
}

.letter {
    margin: 0 5px; /* Reduced margin for mobile screens */
    position: relative;
    text-align: center;
    font-size: 1.2rem; /* Adjusted font size for mobile screens */
    border-bottom: 2px solid #fff; /* Add a bottom border to represent the line */
    min-width: 20px; /* Ensure there's some minimum width for each letter */
    height: 30px; /* Set a height to ensure space for the letter */
}

button {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 90%; /* Adjusted width for mobile screens */
    max-width: 300px; /* Ensure buttons are not too wide */
    padding: 10px;
    background: #d95d39;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem; /* Adjusted font size for mobile screens */
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
}

#startButton {
    display: block;
}

#resetButton, #nextButton {
    display: none; /* Initially hidden */
}
